/* variables */
:root {
  --main-color:#10cab7;
  --secadry-color:#2c4755;
}


/* Start Golbal Rules */
/* start componant */
.spical-heading {
   color: #ebeced;
   text-align: center;
   font-size: 80px;
   font-weight: 800;
   letter-spacing: -2px;
   margin: 0;
}
.spical-heading + p {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
html {
    scroll-behavior: smooth;
}
@media (max-width:767px) {
    .spical-heading {
        font-size: 50px;
    }
    .spical-heading + p {
        font-size: 18px;
        margin: -15px 0;
    }
}
/* end componant */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
body {
  font-family: "Work Sans", sans-serif;
}
.continer {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-wdth: 768px) {
  .countiner {
    width: 767px;
  }
}

/* meduim */

@media (min-wdth: 992px) {
  .countiner {
    width: 970px;
  }
}
/* large */
@media (min-wdth: 1200px) {
  .countiner {
    width: 1170px;
  }
}
/* End Golbal Ruls */

/* start header */
header {
  padding: 20px;
}
header .continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .icon:hover span:nth-child(2) {
  width: 100%;
}
header .icon span {
  background-color: #222;
  margin-bottom: 5px;
  height: 2px;
}
header .icon span:first-child {
  width: 100%;
}
header .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .icon span:last-child {
  width: 100%;
}
header .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  background-color: #eee;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  transition: 0.3s;
  z-index: 1;
}
header .links:hover ul {
  display: block;
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  padding: 15px;
  text-decoration: none;
  display: block;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-weight: 600;
}
header .links ul li a:hover {
  padding-left: 25px;
}
header ul li:not(last-child) {
  border-bottom: 2px solid #ddd;
}
/* start landing */
.landing {
    background-image: url(../imges/landing.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    
}
.lading-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   text-align: center;
   width: 320px;
   max-width: 100%;
}
.lading-content h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.lading-content p {
    font-size: 19px;
}
/* start featurs */
.featurs {
   padding: 80px 60px;
    background-color: #f6f6f6;
    overflow-x: hidden;    
}
@media (max-width:767px) {
    .featurs {
        padding: 26px;
    }
}
.featurs-content {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    gap: 60px;
    text-align: center;
}
.feat i {
    color: var(--main-color);
    font-size: 40px;
}
.feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.feat p {
    line-height: 30px;
    color: #777;
}
/* service */
.service {
    padding-left: 200px;
    padding-right: 200px;
}
.service-content {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
    margin-top: 100px ;
}
.service-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .srv {
        flex-direction: column;
        text-align: center;
    }
    .service-mobile {
        padding: 0 50px;
    }
}
.srv i {
    color: var(--main-color);
    font-size: 25px;
    flex-basis: 40px;
}
.srv .text {
    flex: 1;
}
.srv .text h3 {
    margin: 0 0 20px;
    color: #333;
}
.srv .text p {
    color: #444;
    line-height: 19px;
}
 .image {
    text-align: center;
    position: relative;
}
.image img {
    width: 250px;
}
.image::before {
   content: "";
   height: calc(100% + 70px);
   width: 100px;
   background-color: var(--secadry-color);
   position: absolute;
   right: -25px;
   top: -35px;
   z-index: -1;
}

@media (max-width: 1250px) {
    .imge-culomn {
        display: none;
        }
}
/* protoflio */
.protoflio {
    padding: 80px 100px;
     background-color: #f6f6f6;
 }
 @media (max-width:767px) {
     .p-mopail {
         padding: 0 30px;
         margin-bottom: 200x;
     }
 }
 .protoflio-content {
     display: grid;
     grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
     gap: 60px;   
     margin-top: 100px;
 }
 .imge-card img  {
     width: 300px;
 }
 .serv {
     background-color:white ;
     width: 300px;
     height: 350px;
     margin-bottom: 50px;
 }
 .text-card h3 {
     margin: 20px 10px;
     font-size: 17px;
 }
 .text-card p {
     margin-left: 10px;
     color: #777;
     line-height: 1.5;
 }
 /* about */
.About {
    padding: 0 60px;
}
.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
}
.imge-about img {
    width: 250px;
}
.text-about {
    flex-basis: calc(100% - 500px);
    line-height: 1.5;
}
.text-about :first-child{
  font-weight: 600;
}
hr {
    margin: 50px 0;
    width: 50%;
    border-color: #10cab7;
}
hr + p {
    color: #444;
}
.imge-about {
    position: relative;
}
.imge-about::before {
    content: "";
    width: 100px;
    height:450px;
    background-color: #eee;
    position: absolute;
    left: -30px;
    top: -40px;
    z-index: -1;
}
.imge-about::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}
@media (max-width:1130px) {
    .about-mopail {
        flex-direction: column;
        text-align: center;
    }
    .imge-about::after {
        display: none;

    }
    .imge-about::before {
        display: none;
    }
    hr {
        margin: 50px auto;
        
    }
    .imge-about {
        margin-bottom: 50px;
    }
    
}
/* contact */
.contact {
    padding:  0 60px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;
}
.info p {
    margin-bottom: 20px;
    font-size: 4vmin;
    letter-spacing: -2px;
    font-weight: 1000;
    color: #2c4755;
}
.info a {
    text-decoration: none;
    font-size: 6vmin;
    font-weight:800;
    color: #10cab7;
    margin-bottom: 20px;
}
.icon {
    display: flex;
    font-size: 3vmin;
    justify-content: space-between;
    color: #2c4755;
    
}
.icon i {
    margin: 5px;
}
/* footer */ 
footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
b {
    color: #10cab7;
    font-size: 20px;
    font-weight: bolder;
}
